<%= link_to("Return to Inventories listing", inventories_path) %>
<br/>

<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr class="table-header">
        <th>Id</th>
        <th>Spreadsheet</th>
        <th>Level</th>
        <th width="15%">Time</th>
        <th>Message</th>
      </tr>
    </thead>

    <tbody>
      <% @activity_logs.each do |log| %>
        <tr>
          <td><%= log.id %></td>
          <td><%= log.inventory_name %></td>
          <td><%= log.level %></td>
          <td><%= log.time %></td>
          <td><%= log.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
